@use '../../styles/variables' as vars;
@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --scrollbar-bg: vars.$scrollbar-color;
    --animate-duration: 0.35s;
}

.form-control__control:hover {
    background: color.adjust(vars.$input-bg-color, $lightness: -10%);
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid vars.$color-primary-text;
    transition: 0.3s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.menu {
    pointer-events: none;
    list-style: none;
    padding: 0.5rem 1rem;
    background: vars.$color-primary-bg;
    box-shadow: 0 0.5rem 1rem vars.$color-shadow;
    border-radius: 0.5rem 0.5rem 0 0;
    color: vars.$color-primary-text;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    z-index: 2;
    opacity: 0;
    &:focus-visible {
        outline: none;
    }
    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-bg);
        border-radius: 10px;
    }
    &-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(vars.$color-primary-text, 0.1);
        opacity: 0;
        transition: 0.2s;
        z-index: 1;
        pointer-events: none;
        &.menu-backdrop-open {
            pointer-events: auto;
            opacity: 1;
        }
    }
}
.menu li {
    padding: 0.7rem 0.5rem;
    margin: 0.3rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
    &:hover,
    &.active {
        background: vars.$color-secondary-bg;
    }
    &.active {
        background: vars.$color-secondary-bg;
        scroll-margin-bottom: 0.75rem;
        scroll-margin-top: 0.75rem;
    }
}

.menu-open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.selected {
    display: block;
}
.animate__animated {
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@media (prefers-reduced-motion:reduce),print {
    .animate__animated {
        -webkit-animation-duration: 1ms!important;
        animation-duration: 1ms!important;
        -webkit-animation-iteration-count: 1!important;
        animation-iteration-count: 1!important;
        -webkit-transition-duration: 1ms!important;
        transition-duration: 1ms!important
    }

    .animate__animated[class*=Out] {
        opacity: 0
    }
}
@keyframes bounceInUp {
    0%,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.animate__bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp
}