$primary-color: #1e1d48;
$main-bg-color: #FAF9F6;
$input-bg-color: #e8e4d6;

$scrollbar-color: #01020366;

$color-primary-bg: #FAF9F6;
$color-primary-accent: #4a90e2;
$color-primary-text: #2e2e2e;

$color-secondary-bg: #e1e1e1;
$color-secondary-accent: #b3c7f9;
$color-secondary-text: #6b7280;

$color-border: #dfd9c6;
$color-outline: antiquewhite;
$color-shadow: rgba(0, 0, 0, 0.1);

$color-toggle-active: #b8ac80;
$color-toggle-inactive: #fbfaf8;